:root {
  --bg-black-900: #f2f2f2;
  --text-black-700: #504e70;
}

body {
  background-color: var(--bg-black-900);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.dark {
  --bg-black-900: #151515; 
  --text-black-700: #e9e9e9; 
}

.btn-dark-mode {
  padding: 20px 30px;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-black-700);
  border-radius: 10px;
  background-color: var(--bg-black-900);
  transition: background-color 0.4s, color 0.4s;
  border: 1px solid var(--text-black-700);
}

.btn-dark-mode:hover {
  background-color: #504e70;
  color: #ffffff; 
}